
body{
    background-image: url("/images/stock/photo-1507358522600-9f71e620c44e.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* display: flex; */
    font-family: 'Roboto', sans-serif; 
  }
  
